$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';


$background-color: #d3d3d3;
$font-color: #dfdfdf;
$white: #fff;
$blue: #00f;
$black: #000;

body {
  background-color: $background-color;
  color: $font-color;
}

.box {
  border: 1px solid $white;
}

.container {
  align-content: center;
}

.col-xs-4 {
  background-color: #ccffff;
  height: 200px;
  width: 200px;
  border: 1px solid $black;
}
